*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    
}

                        /* regole header */

/* regole logo */

#logo{
    position: absolute; 
    left: 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

li{
    list-style: none;
    
}

/* menu navigazione */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
}

.navigazione{
    display: flex;
}



                        /* regole main */

/* regole jumbo */

.jumbo{
   background-color: rgb(180,208,230); 
   width: 100%;
   display: flex;
    justify-content: center;  
}

.jumboconteiner{
    padding-left: 20%;
    padding-top: 5%;
}

.jumbo2{
    width: 30%;
}

.spanjumbo{
    display: block;
}

.jumbo3{
    width: 70%;
}

.jumboimg{
    max-width: 100%;
}

.jumbocontent{
    display: flex;
    width: 80%;
}

.jumbop{
    font-size: 15px;
    margin-bottom: 10%;
    padding: 5px;
}

/* titolo jumbo */

h1{
    font-size: 70px;
    width: 80%;
    margin-bottom: 20px;
}

/* span jumbo */

#spanj1{
    font-size: 13px;
}

#spanj2{
    font-size: 30px;
}

/* regole bottone */

.button{
    margin-top: 15px;
    background-color: rgb(0,97,254);
    padding: 5px 5px;
    border: none;
    color: #fff;
}

                      /* regole abbonamenti */

.center{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.bordo h2{
    margin-bottom: 30px;
}

.bordo span{
    margin-bottom: 20px;
}

.abbonamenti{
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.column{
    width: 31%;
    /* height: 500px; */
    border: 1px solid grey ;
    
    
}

.pad-colonna{
    padding: 0 20px;
}

.piani{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* regole colonna */
.head-colonna{
    display: flex;
    justify-content: center;
    border-bottom: solid 1px grey;
}



.info-colonna h3{
    font-size: 30px;
    margin-top: 25px;
}

.prezzo-piano{
    font-weight: bold;
    margin-top: 15px;
    font-size: 20px;
}

.scritta-grigia{
    margin-top:10px;
    color: grey;
}

.list-colonna{
    margin-top: 30px;
}

.list-colonna li{
    margin: 5px;
}

.bottone-prova{
    display: flex;
    justify-content: center;
}

.scelta{
    margin: 10px 0;
}